* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(164, 224, 224);
}

table {
    margin: 40px;
    background-color: olivedrab;
    color: white;
}

img {
    width: 200px;
    height: 100;
}